@page "/"


@addTagHelper *, BlazorSpreadsheetComponent
@using BlazorSpreadsheetComponent;


<h1>Hello, world!</h1>

Welcome to your new app.


<br />
<br />

<CompBlazorSpreadsheet></CompBlazorSpreadsheet>
